header {
  background-color: white;
  position: sticky;
  top: 0px;
}

.c-header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-1) {
    height: 95px;
  }

  &__logo {
    width: 103px;

    @media (min-width: $breakpoint-1) {
      width: 150px;
    }
  }

  .is-visible {
    transform: translateX(0);
  }
}

.c-main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  background-color: white;
  padding: 2.5rem 1rem;
  transform: translateX(100%);
  transition: transform 0.3s;

  border-top: 1px solid lightgray;

  &__item {
    font-size: 1.0625rem;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }

    &--phone {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      color: $accent-color;
    }
  }

  @media (min-width: $breakpoint-1) {
    position: relative;
    top: 0;
    transform: translateX(0);
    width: auto;
    flex-direction: row;
    gap: 1.3rem;
    border: none;
    padding: 0;
  }
}

.c-hamburger-menu {
  display: flex;
  align-items: center;
  gap: 1rem;

  .is-open {
    transform: rotate(-45deg);
  }

  .is-open::before {
    opacity: 0;
  }

  .is-open::after {
    width: 100%;
    transform: rotate(90deg);
    bottom: 0;
  }

  &__text {
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 900;
  }

  &__bars {
    position: relative;
    background-color: $primary-color;
    width: 18px;
    height: 3px;
    border-radius: 2px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      background-color: inherit;
      border-radius: inherit;
    }

    &::before {
      width: 100%;
      top: -5px;
    }

    &:after {
      width: 78%;
      bottom: -5px;
    }
  }

  @media (min-width: $breakpoint-1) {
    display: none;
  }
}
