section {
  margin-bottom: 2rem;
}

.section {
  &__title {
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
  }
}

.c-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
