.u-container {
  padding-inline: 15px;
}

.u-icon {
  display: inline-block;
  width: 1rem;
}

.u-underline {
  text-decoration: underline;
}

.u-text-blue {
  color: $text-color--blue;
}

.u-mobile-line-break {
  display: block;

  @media (min-width: $breakpoint-1) {
    display: inline;
  }
}
